@media (min-width: 801px) {
  .mobile-menus,
  .mobile-menus--lists {
    display: none;
  }
}
@media (max-width: 800px) {
  .menus {
    display: none;
  }
}
@media (max-width: 460px) {
  .footer-container {
    flex-direction: column;
    row-gap: 2rem;
  }
  .footer-logondesign,
  .footer-categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
