@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap');

/* colors */
/* #ff5722, #ff5722	#e64e1f	#cc461b	#b33d18	#993414 #802c11	#66230e	#4c1a0a	#331107	#190903  */

/* #ff5722	#ff6838	#ff794e	#ff8964	#ff9a7a	#ffab91	#ffbca7	#ffcdbd	#ffddd3	#ffeee9 */

/* #36454f	#4a5861	#5e6a72	#727d84	#868f95	#9ba2a7	#afb5b9	#c3c7ca	#d7dadc	#ebeced, ----> #36454f	#313e47	#2b373f	#263037	#20292f	#1b2328	#161c20	#101518	#0b0e10	#050708	 */

:root {
  --primary-deep-color: #e64e1f;
  --primary-light-color: #ffcdbd;
  --secondary-deep-color: #161c20;
  --secondary-light-color: #ebeced;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL STYLES */
html {
  font-size: 80.5%;
}
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: var(--primary-light-color);
  background-color: var(--secondary-deep-color);
  overflow-x: hidden;
}
.ion-icon {
  font-size: 2rem;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hidden {
  display: none;
  /* opacity: 0; */
  /* visibility: hidden; */
}
#hidden {
  display: none;
  /* opacity: 0; */
  /* visibility: hidden; */
}
a {
  text-decoration: none;
  color: #ffeee9;
}
li {
  list-style: none;
}
/* ------------------ */

/* HEADER STYLES */
/* --header */
.main-header {
  height: 90vh;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}
.main-header::after {
  content: '';
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(23, 29, 33, 1), transparent);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
/* --MENU */
.logos {
  font-size: 1.2rem;
  text-transform: uppercase;
}
.logo {
  font-size: 1.7rem;
  text-transform: lowercase;
  color: #ff5722;
}
.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 100%;
  margin: 0 auto;
  background: rgba(23, 29, 33, 0.7);
  z-index: 1;
}
#main {
  position: absolute;
}
.menus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 60%; */
}
.menus.hidden {
  display: none;
}
.bgs-menu {
  display: flex;
  gap: 0.5rem;
  margin-right: 2.4rem;
}
.bgs-menu li {
  list-style: none;
}
.bgs-menu li a {
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
}
.bgs-menu li a:hover {
  color: #ffeee9;
  transition: color 500ms ease-in;
}
.mobile--menu {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
/* --Input */
.search-input {
  padding: 0.3rem 0.5rem 0.3rem;
  background-color: transparent;
  outline: none;
  border-radius: 4.2rem;
  border: 1px solid #ffcdbd;
  color: var(--secondary-light-color);
  font-size: 0.8rem;
}
.search-input::placeholder {
  color: inherit;
}
/* --user */
.users {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.user-notification {
  font-size: 1.2rem;
  position: relative;
  margin: 0 0.6rem;
}
.user-notification:after {
  content: '';
  font-size: 1.5rem;
  /* padding: 2rem; */
  width: 5px;
  height: 5px;
  top: 0;
  right: 0;
  background-color: #ff5722;
  color: #f3f3f3;
  border-radius: 100%;
  position: absolute;
  z-index: 1;
}
.user-image {
  width: 2rem;
  height: 2rem;
}
.user-img {
  border-radius: 100%;
  width: 100%;
  border: 2px solid var(--primary-light-color);
}
/* Overlays */
/* MOBILE MENU LISTS */
.mobile-menus--lists {
  position: absolute;
  z-index: 2;
  background-color: #161c20;
  height: 100vh;
  width: 50%;
  top: 0;
  right: 0;
  transform: translateX(30rem);
  transition: transform 700ms ease-in;
}
.MDs-menu-close {
  padding: 0.6rem;
  font-size: 2.4rem;
  color: white;
  text-align: right;
  cursor: pointer;
}
.MDs-menus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 15rem auto;
  padding: 1rem;
}
/* ---user profile */
.user-profile {
  position: absolute;
  z-index: 1;
  top: 7.5vh;
  right: 1vh;
  background-color: #f3f3f3;
  padding: 1rem 2rem;
}
.user-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.user-menu a {
  /* color: white; */
  color: var(--secondary-deep-color);
  text-decoration: none;
}
/* ---- */
/* -Feature movies */
.features-movie {
  max-width: 40rem;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 5%;
}
.feature-title {
  color: #ffeee9;
  font-size: 2.4rem;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.feature-category {
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  background-color: #e64e1f;
  color: var(--secondary-light-color);
  padding: 0 0.8rem;
  border-radius: 1rem;
  text-transform: lowercase;
}
.feature-movie-info {
  display: flex;
  column-gap: 0.7rem;
  margin-bottom: 0.7rem;
}
.feature-info {
  color: #66230e;
  background-color: #ffddd3;
  padding: 0.2rem 0.7rem;
  border-radius: 0.6rem;
  text-transform: uppercase;
  font-weight: 600;
  text-wrap: nowrap;
}
.feature-description {
  font-size: 0.9rem;
}
.casts {
  margin-top: 0.7rem;
  text-transform: uppercase;
  font-weight: 600;
  /* display: block; */
  /* width: 100%; */
  white-space: nowrap;
}
.casts span {
  font-weight: 400;
  font-size: 0.9rem;
  text-transform: capitalize;
}
.movie-actions {
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
}
.movie-actions button {
  color: #ffeee9;
  padding: 0.5rem 0.8rem;
  /* border: none; */
  border-radius: 1rem;
  width: 9rem;
  text-transform: capitalize;
  margin-top: 0.8rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
}
.btn-play {
  background-color: #ff5722;
  border: none;
}
.btn-play:hover {
  background-color: transparent;
  border: 2px solid #ff5722;
  transition: all 300ms ease-in;
}
.btn-list {
  background-color: transparent;
  border: 2px solid #ff5722;
  transition: all 300ms ease-in;
}
.btn-list:hover {
  background-color: #ff5722;
  border: none;
}
/* ------------ */
/* Main styles */
/* show-movies-section */
.show-movies-section {
  max-width: 100%;
  margin: 1rem;
}

h5 {
  font-size: 1.8rem;
  color: var(--secondary-light-color);
  margin-bottom: 1rem;
}

.movies-containers,
.shows-containers {
  display: flex;
  column-gap: 1rem;
  font-size: 0.8rem;
  overflow: hidden;
  /* height: auto; */
}
.movies-details {
  flex: 0 0 auto;
  width: 12rem;
  height: 20rem;
  position: relative;
  cursor: pointer;
  /* background-color: red; */
}
.movie-details {
  /* background: red; */
  width: 100%;
  /* background: linear-gradient(to top, rgba(23, 29, 33, 1), transparent); */
  background: black;

  padding: 0.4rem 0.4rem;
  position: absolute;
  bottom: 3rem;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all 500ms ease-in;
}
.movie-img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-left: 0.7rem;
  border-radius: 0.7rem 0.7rem 0 0;
  /* border-radius: 1rem; */
}
.movie-info {
  display: flex;
  /* justify-content: center; */
  column-gap: 0.5rem;
  margin: 0rem 0;
}
.movie-title {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #ffeee9;
  margin-top: 0.1rem;
}
.movie-info p {
  color: #ff9a7a;
}

.rating-icon {
  color: yellow;
}
/* ------------ */

/* FOOTER */
/* #263037	#20292f	#1b2328	#161c20	#101518	#0b0e10	#050708 */
.footer {
  background-color: #101518;
  width: 100%;
  height: auto;
  /* margin: 0 1rem; */
  padding: 2rem;
  /* color: #535353; */
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-logos {
  font-size: 5rem;
  color: #ffeee9;
}
.copyright {
  margin-top: -1.5rem;
}
.footer-categories h6 {
  font-size: 1.4rem;
  border-bottom: 1px solid #333;
}
.footer-categories ul {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}
/* --footer social */
.footer-socials ul {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}
.footer-icon {
  font-size: 1.8rem;
}
/* ------ */
